{% extends 'main/layout_furnaces.html' %}
{% block title %}Furnace booking{% endblock %}

{% block content %}
    <div class="features">
        <h1>Furnace booking</h1>
        <p>One person can book a furnace for a maximum of 3 days!</p>

        {% if form.non_field_errors %}
            <div>
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action" value="book">Book</button>
            <button type="submit" name="action" value="book_and_next">Book and Book next</button>
        </form>
    </div>
{% endblock %}
