body {
    background: #848484;
}

aside {
    float: left;
    background: #2c2c2c;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img{
    float: left;
    width: 80px;
}

aside .smm{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}