{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/furnaces.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<body>
    <aside>
        <img src="{% static 'main/img/4whatsapp.png' %}" alt="SMM">
        <span class="smm">Laboratory of Electrochemistry</span>
        {% include 'main/navigation.html' %}
    </aside>
    <main>
        {% block content %}
        {% endblock %}
</body>
</html>
