{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/furnaces.css' %}">
    {% include 'main/styles.html' %}
<body>
    <aside>
        <img src="{% static 'main/img/4whatsapp.png' %}" alt="SMM">
        <span class="smm">Laboratory of Electrochemistry</span>
        {% include 'main/navigation.html' %}
    </aside>
    <main>
        {% block content %}
        {% endblock %}
</body>
</html>
