{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        {% if news %}
            {% for atc in news %}
                <div class="alert alert-warning">
                    <h3>{{ atc.title }}</h3>
                    <p>{{ atc.anons }}</p>
                    <a href="{% url 'news-detail' atc.id %}" class="btn btn-warning"> details </a>
                </div>
            {% endfor %}
        {% else %}
            <p> The news list is ampty! </p>
        {% endif %}

        {# Coments are here #}

        <button class="btn btn-warning" href="{% url 'home' %}">Home</button>
    </div>
{% endblock %}